<!DOCTYPE HTML>

<html>
	<head>
		<title>Send Me Stuff</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>

	<body>

		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				<h1>Send Me Stuff</h1>
				<p>Just send a text to 862-666-3230 with a link to your favorite artice and I promise to read it later.<p>
				<ul class="actions">
					<li><a href="#one" class="button scrolly">Learn more</a></li>
				</ul>
			</div>
		</section>

		<div id="wrapper">
			<section id="one" class="wrapper style2 spotlights">
				{{#links}}
					<section>
						<a href="#" class="image"><img src="{{image}}" alt="" data-position="center center" style="width:100%; height:100%"/></a>
						<div class="content">
							<div class="inner">
								<h2>{{title}}</h2>
								<p>{{description}}</p>
								<ul class="actions">
									<li><a href="{{url}}" class="button">Read Article</a></li>
								</ul>
							</div>
						</div>
					</section>
				{{/links}}
			</section>
		</div>

		<footer id="footer" class="wrapper style1-alt">
			<div class="inner">
				<ul class="menu">
					<li>&copy; FriendFeed All rights reserved.</li><li>Design: <a href="http://kareemdjames.tech">KDJ</a></li>
				</ul>
			</div>
		</footer>


		<!-- Turbo library imports: jQuery, Turbo CDN, sample app.js -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/dropzone.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="/js/main.js"></script>

		<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script> <!-- Your app specific code -->
	</body>
</html>
